<h1 class="HomePage-Title">
  Welcome to the homepage
</h1>

<h2 class="HomePage-authenticate">
  If you are a new user, <%= link_to "sign up here", new_user_path %>
</h2>

<h3 class="HomePage-authenticate">
  If you are a existing user, <%= link_to "sign in here", new_sessions_path %>
</h3>
