body{
  font-family: Open Sans, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
}

.TodoPageMain{
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoPage-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  color: #453C52;
  letter-spacing: 0.14px;
  margin-bottom: 12px;
}

.AddTodo{
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text{
  max-width: 190px;
  max-height: 32px;
  padding-left: 12px;
  padding-top: 6px;
  padding-right: 95px;
  padding-bottom: 7px;
  font-size: 14px;
  color: #726A7E;
  letter-spacing: 0.1px;
  background: #FFFFFF;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  border-radius: 4px;
}

.AddTodo-date{
  margin-left: 10px;
  padding: 6px;
  font-size: 14px;
  background: #FFFFFF;
  color: #726A7E;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  border-radius: 4px;
}

.AddTodo-button{
  width: 72px;
  height: 32px;
  margin-left: 11px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  background: #48BB78;
  border-radius: 4px;
  border-radius: 4px;
}

.TodoSection{
  margin-bottom: 20px;
}

.TodoSectionTitle{
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.TodoSectionTitle-text{
  font-size: 14px;
  font-weight: 600;
  color: #453C52;
  margin-right: 8px;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingcount{
  font-family: OpenSans;
  font-size: 12px;
  color: #453C52;
  letter-spacing: 0.09px;
  margin-left: 8px;
}

.TodoItem{
  display: flex;
  font-size: 14px;
  color: #453C52;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
  align-items: center;
  padding: 2px;
  border-radius: 6px;
}

.TodoItem-checkbox{
  margin-left: 16px;
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  border-radius: 4px;
  width: 16px;
}

.TodoItem-textlinethrough{
  text-decoration: line-through;
}

.TodoItem-date{
  margin-left: 10px;
  font-size: 10px;
  color: #726A7E;
}

.TodoItem-deleteimg{
  width: 15px;
  height: 15px;
}

ul{
  list-style: none;
}

article{
  display: block;
}

.TodoItem:hover{
  background-color: blanchedalmond;
}

.TodoItem-delete{
  margin-left: 10px;
  visibility: hidden;
}

.TodoItem:hover .TodoItem-delete{
  visibility: visible;
}
